/*fonte utilizada importada*/
@font-face { font-family: [poppins]; src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); }

*{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
.header{
    background-color: #6a0dad;
    margin-bottom: 20px;
}
.imgFundo{
    background-image: url(../img/lovetec/carroBackgrund.jpg);
    background-position-x: center;
    background-size: 100%;
    background-position-y: 70%;
    padding-bottom: 200px;
}
.container {
    margin: 0 auto;
    padding: 15px 15px 15px 15px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    align-items: center;
    font-weight: 600;
    height: 80px;
}
.header a,li {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}
.pages ul{
    display: flex;
    justify-content: center;
}
.pages li{
    margin-left: 30px;
}
.pages {
    width: 60%;
}
.log{
    font-weight: 400;
    width: 20%;
    justify-content: center;
    font-size: small;
}
.logo{
    margin-left: 20px;
}
.inOut a{
    justify-content: space-between;
}
.inOut p{
    color: #ffffff;
    font-weight: 600;
    font-size: large;
}
.inOut{
    justify-content: space-between;
    display: flex;
    align-items:center;
}
.reserva a{
    display: flex;
    align-items: center;
    
}
.reserva a img{
    padding-right: 2em;
}

#logo{
    width: 120px;
}
.alinhar{
    padding: 20px;
    margin-top: 20px;
    height: 100%;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 5px;

}

form{
    width: 100%;
    justify-content: space-evenly;
    display:grid;
    grid-template-columns: auto auto auto ;
    row-gap: 10px;
}

.formInput input{
    height: 40px;
    width: 250px;
    padding-left: 15px;
    font-weight: 600;
    font-size: medium;
}
.formInput{
    display: flex;
    position: relative;
    margin: 10px;
    box-shadow: 0px 1px 2px rgba(87, 87, 87, 0.331);
}
.formInput img{
    position: absolute;
    right: 10px;
    top:8px;
}
.labelLinha{
    font-weight: 500PX      ;
    color: rgb(82, 82, 82);
    justify-content:flex-start;
    background-color: #ffffff;
    position: absolute;
    top: -13px;
    left: 4px;
    padding: 0 7px 0 7px;
    
}
.btnVerde{
    width: 300px;
    box-shadow: 0px 1px 2px rgba(156, 156, 156, 0.39);
    padding: 10px 20px 10px 20px;
    background-color: #007e3b;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}
.btnVerde:hover{
    background-color: #006321;
    width: 300px;

}
.carros{
    margin: 100px auto;
    flex-direction: column;
    height: 100%;
}

.cards{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    background-color: #ffffff;
    padding: 30px 20px 30px 20px;
    width: 280px;
    height: 400px;
    border: #999999 solid 1.5px;
    box-shadow: 0 1px 2px rgba(156, 156, 156, 0.514);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    margin: 10px;
}
.cardHead{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardHead h2{
    color: #6a0dad;
}
.cardBody{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cardBody a{
    color: #6a0dad;
    font-weight: 500;
}
.btnRoxo{
    background-color: #6A0DAD;
    color: white;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btnRoxo:hover{
    background-color: #400768;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(156, 156, 156, 0.466);
}

.btnSemFundo{
    background-color: transparent;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
}
.btnSemFundo:hover{
    background-color: #6A0DAD;
    color: white;
}
section{
    padding: 50px 0 100px 0;
    height: 400px;
    background-color: #8326c5;
}
section .lugar{
    display: flex;
    flex-direction: column;

}
section h2{
    font-size: xx-large;
    margin: 0 auto;
    color: white;
}
.local{
    padding: 15px;
    height: 220px;
    margin: 20px;
}
.local a{
    color: black;
    text-decoration: none;
}
.local img{
    height: 150px;
    width: 230px;
    border-radius: 100px 0 100px 0;
}
.lugares{
    display: flex;
}
.lugar .btnSemFundo{
    color: white;
    border: solid 1px rgb(7, 7, 7);
}
.lugar .btnSemFundo:hover{
    background-color: #ffffff;
    color: #000;
}

footer{
    color: white;
    background-color: #400768;
}
.agencia{
    flex-direction: column;
    align-items: flex-start;
}
.agencia .btnVerde{
    margin-top: 10px;
    width: 150px;
    height: 45px;
}
.agencia form{
    margin-top: 30px;
}
.logar form{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #e4e4e4;
    border-radius: 5px;
    justify-content: space-around;
}
.logar{
    margin-top: 50px;
    width: 800px;
    height: 500px;
    background-color: #e4e4e4;
}
.logar .formInput{
    display: flex;
    height: 60px;
    flex-direction: column;
    box-shadow: none;
}
.voltar{
    font-size: x-large;
    margin-left: 50px;
    margin-top: 40px;
    font-weight: 600;
}
.nomeCliente {
    font-size:small;
    display: flex;
}
.nomeCliente a{
    margin-left: 25px;
}